:root{
    --color-bg-main: #fcda33;
    --color-icon-twitter: #56aef0;
    --color-facebook:#3b5997;
    --color-linkedin:#2976b3;

}
*{
    padding: 0;
    margin: 0;
}
main{
    background-color: var(--color-bg-main);
}

#form{
    max-width: 20rem;

}

.bi-facebook{
    color: var(--color-facebook);
}
.bi-twitter{
    color: var(--color-icon-twitter);
}
.bi-linkedin{
    color: var(--color-linkedin);
}